html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("/fonts/Akzidenz Grotesk Next Bold.otf");
  src: url("/fonts/Akzidenz Grotesk Next Regular.otf");
  src: url("/fonts/Akzidenz Grotesk Next Medium.otf");
}

@font-face {
  font-family: "AgrandirGrand";

  src: url("/fonts/Agrandir-GrandLight.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "AgrandirGrand";
  src: url("/fonts/Agrandir-GrandHeavy.ttf");
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
